.glitch-wrapper {
    display: inline-block;
    position: relative;
}

.glitch {
    position: relative;
    display: inline-block;
    color: var(--text-color);
}

.glitch::before,
.glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.glitch::before {
    color: #ff00c1;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    animation: glitch-anim-1 2s infinite linear alternate-reverse;
}

.glitch::after {
    color: #00fff9;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    animation: glitch-anim-2 2s infinite linear alternate-reverse;
}

@keyframes glitch-anim-1 {
    0% {
        clip-path: inset(20% 0 80% 0);
        transform: translate(-2px, 1px);
    }

    20% {
        clip-path: inset(60% 0 10% 0);
        transform: translate(2px, -1px);
    }

    40% {
        clip-path: inset(40% 0 50% 0);
        transform: translate(-2px, 2px);
    }

    60% {
        clip-path: inset(80% 0 5% 0);
        transform: translate(2px, -2px);
    }

    80% {
        clip-path: inset(10% 0 70% 0);
        transform: translate(-1px, 1px);
    }

    100% {
        clip-path: inset(30% 0 40% 0);
        transform: translate(1px, -1px);
    }
}

@keyframes glitch-anim-2 {
    0% {
        clip-path: inset(10% 0 60% 0);
        transform: translate(2px, -1px);
    }

    20% {
        clip-path: inset(80% 0 5% 0);
        transform: translate(-2px, 2px);
    }

    40% {
        clip-path: inset(30% 0 20% 0);
        transform: translate(1px, -1px);
    }

    60% {
        clip-path: inset(10% 0 80% 0);
        transform: translate(-1px, 1px);
    }

    80% {
        clip-path: inset(50% 0 30% 0);
        transform: translate(2px, -2px);
    }

    100% {
        clip-path: inset(70% 0 10% 0);
        transform: translate(-2px, 1px);
    }
}