:root {
  --bg-color: #050505;
  --terminal-green: #0aff0a;
  --terminal-dim: #008f11;
  --blood-red: #ff0000;
  --ghost-white: #e0e0e0;
  --scanline-color: rgba(0, 0, 0, 0.5);

  --font-terminal: 'VT323', monospace;
  --font-horror: 'Nosifer', cursive;
  --font-tech: 'Share Tech Mono', monospace;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--terminal-green);
  font-family: var(--font-terminal);
  font-size: 18px;
  overflow: hidden;
  /* Prevent scroll bars, handle scrolling internally */
  text-shadow: 0 0 5px var(--terminal-green);
}

/* Scrollbar customization */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: var(--terminal-dim);
  border: 1px solid var(--terminal-green);
}

* {
  box-sizing: border-box;
  cursor: text;
  /* Or custom cursor later */
}

/* Text Selection */
::selection {
  background: var(--terminal-green);
  color: #000;
}

h1,
h2,
h3 {
  font-family: var(--font-horror);
  color: var(--blood-red);
  text-shadow: 0 0 10px var(--blood-red), 2px 2px 0px #000;
  letter-spacing: 2px;
  text-transform: uppercase;
}

input,
button {
  font-family: var(--font-tech);
}

/* Utility to ensure text readability against noise */
.text-glow {
  text-shadow: 0 0 8px currentColor;
}